On duplicate `Content-Type` headers

According to spec, an HTTP message may contain headers with the same name. In those cases the values of the headers are concatenated into a comma separated list https://datatracker.ietf.org/doc/html/rfc9110#section-5.2:

> When a field name is repeated within a section, its combined field value consists of the list of corresponding field line values within that section, concatenated in order, with each field line value separated by a comma.
> 
> For example, this section:
> ```
> Example-Field: Foo, Bar
> Example-Field: Baz
> ```
> contains two field lines, both with the field name "Example-Field". The first field line has a field line value of "Foo, Bar", while the second field line value is "Baz". The field value for "Example-Field" is the list "Foo, Bar, Baz".

However `media-typer` fails to parse values when they are concatenated like this. Basic repro:

```js
const contentType = require('content-type');

let type1;
let type2;

try {
	type1 = contentType.parse('application/x-www-form-urlencoded');
	type2 = contentType.parse('application/x-www-form-urlencoded, application/x-www-form-urlencoded');
} catch {}

console.log(type1); // ContentType { parameters: [Object: null prototype] {}, type: 'application/x-www-form-urlencoded' }
console.log(type2); // undefined. This threw "invalid media type"
```

While an uncommon situation, it *is* one that can happen and is perfectly within the spec. A common way which this may happen is when using Cloudflare Workers/Snippets. If a request comes in and is processed by a Cloudflare Worker/Snippet and contains a duplicate header, Cloudflare will *automatically* convert this into a comma separated list, and thus those requests fail to have their bodies processed (this was the situation we were in, a client which connects to our servers duplicates certain headers and we recently added CF Snippets as part of our infrastructure)

This is caused by the following regex only allowing a single value for the header:

```js
var TYPE_REGEXP = /^[!#$%&'*+.^_`|~0-9A-Za-z-]+\/[!#$%&'*+.^_`|~0-9A-Za-z-]+$/
```

This issue is related to several other issues, which I will link here after they are made, since I'm not sure who should have the responsibility of ensuring the header is split correctly

Here are the related issues:

- https://github.com/expressjs/body-parser/issues/568
- https://github.com/jshttp/type-is/issues/62
- https://github.com/jshttp/media-typer/issues/17

> The previously referenced RFC in the readme and code is superseded by this one and the old one does not contain this language afaict. Seems likely that this implementation just pre-dates the official handling of this in the spec.

The RFC mentioned in the readme does actually make mention of multiple header fields, with `Content-Type` specifically being listed as a "good example" for them (https://datatracker.ietf.org/doc/html/rfc7231):

```
Whether the field is a single value or whether it can be a list (delimited by commas; see Section 3.2 of [RFC7230]).

If it does not use the list syntax, document how to treat messages where the field occurs multiple times (a sensible default would be to ignore the field, but this might not always be the right choice).

Note that intermediaries and software libraries might combine multiple header field instances into a single one, despite the field's definition not allowing the list syntax.  A robust format enables recipients to discover these situations (good example: "Content-Type", as the comma can only appear inside quoted strings; bad example: "Location", as a comma can occur inside a URI)
```

The reference link mentioned in this section, https://datatracker.ietf.org/doc/html/rfc7230, reads:

```
A sender MUST NOT generate multiple header fields with the same field name in a message unless either the entire field value for that header field is defined as a comma-separated list [i.e., #(values)] or the header field is a well-known exception (as noted below).

A recipient MAY combine multiple header fields with the same field name into one "field-name: field-value" pair, without changing the semantics of the message, by appending each subsequent field value to the combined field value in order, separated by a comma.  The order in which header fields with the same field name are received is therefore significant to the interpretation of the combined field value; a proxy MUST NOT change the order of these field values when forwarding a message.
```

So this is still something to be expected even in the older specification, it seems

> Parse only the "first" entry (which it is implied in the spec to be way to avoid the problem called out in the spec?)

I think this would be the most sensible thing to do imo, but I may just be biased

> and also works at CF

That would be great. Right now we have an additional CF Snippet running that will automatically convert a duplicate header into a single value by taking the first entry (same as what was proposed here), but that's not super ideal for us in the long run since CF Snippets are limited in quantity and this is eating one of our slots

I think there might also be an argument to be made about upping the target spec? If the presence of certain language in the older spec is an issue at least. These libraries are being used by `body-parser` and shipped with `express`, which is still being widely used by modern clients, so it may be worth considering targeting newer spec to handle these new clients if there's new language? (which is ironic, since this issue was originally found due to the client in question being a 3DS which is by no means modern lol)

I don't think it was an issue, I was just surprised it was not accounting for this since I know proxies have done this for years. Thanks for finding the section on that, I must have just missed it.

But yeah, I think we can work toward updating the references to the spec (good first PRs 😉) as well as doing the proposal here. Ideally we would do the doc references separately so they can breeze on through in case we need to go back and forth on the implementation updates. Especially since there is some risk this becomes a breaking change.

### tldr; duplicate values in Content-Type is not spec compliant, it's the job of an application to deal with invalid header values

I think the quoted part of the spec here is being misinterpretted in terms of what "good example" means. It does not support the idea that a list is valid for `Content-Type`, it is calling attention to the fact a list is invalid here and that implementors get to decide what to do when its encountered.

> The RFC mentioned in the readme does actually make mention of multiple header fields, with Content-Type specifically being listed as a "good example" for them ([datatracker.ietf.org/doc/html/rfc7231](https://datatracker.ietf.org/doc/html/rfc7231)):
> 
> > Whether the field is a single value or whether it can be a list (delimited by commas; see Section 3.2 of [RFC7230]).
> > 
> > If it does not use the list syntax, document how to treat messages where the field occurs multiple times (a sensible default would be to ignore the field, but this might not always be the right choice).
> > 
> > Note that intermediaries and software libraries might combine multiple header field instances into a single one, despite the field's definition not allowing the list syntax.  A robust format enables recipients to discover these situations (good example: "Content-Type", as the comma can only appear inside quoted strings; bad example: "Location", as a comma can occur inside a URI)
> 

The spec is referring to how robust `media-type` is as a format, and therefore how simple it is to detect these invalid list values for headers which only accept single values. It is comparing it to `Location`, which is much harder to detect a list being provided due to `,` being an acceptable value in a URL.

For the called out section from [rfc7230 section 3.2.2](https://datatracker.ietf.org/doc/html/rfc7230#section-3.2.2)

> A sender MUST NOT generate multiple header fields with the same field name in a message unless either the entire field value for that header field is defined as a comma-separated list [i.e., #(values)] or the header field is a well-known exception (as noted below).

This is typical spec speak, and how I interpret is is informed by `unless either the entire field value for that header field is defined as a comma-separated list [i.e., #(values)]`. 
`Content-Type` does not define a list as a valid value, nor is it a well known exception. So this section on field ordering is not relevant to the issue being discussed.

`content-type` is making the choice to reject invalid values, which is called out as a sensible default by the spec.

Combining of multiple headers this way is common for proxies, yes, but proxies typically do it without any idea if they are creating valid values. They do it in order to guard downstream servers from seeing duplicate headers and being confused. The root is almost always a misconfigured client, and the proxy is just doing its best. An invalid value better represents the semantics of the transported message than duplicate headers which could cause unexpected results.

I see a few paths forward here, ordered in terms of my preference
1. Provide a better error for this known failure case in the library, document it, and allow folks to catch and handle that as they see fit
1. Cloudflare (and other proxies) check the header they are concatting to see if they are creating invalid values. Honestly, a proxy's job is delivery so it seems unlikely they'd reject these invalid requests by default, but dropping duplicates is an option here.
1. Add a nonbreaking option to opt-in to parsing these invalid values



Thank you for the reply, and I apologize for my lateness. Thank you for the detailed look at the targeted spec, and while I do still believe this is within spec as per the current RFC (due to section 5.2 seemingly being much more lenient in it's language than the current target specs language) that's just my interpretation

> Fixing the client is the best approach, but since you're working with hardware I understand that's not an option

Yes unfortunately we don't have much control here, even though I agree this is the best option. Though to be fair even in situations outside of ours where someone may not be working with hardware like we are, fixing the client is often not an option for most people since you don't typically control the client outside of your own products

> Cloudflare (and other proxies) check the header they are concatting to see if they are creating invalid values. Honestly, a proxy's job is delivery so it seems unlikely they'd reject these invalid requests by default, but dropping duplicates is an option here

I unfortunately have no pull over how Cloudflare operates in this regard. Even in our current setup, we aren't preventing the combined header from being created. Cloudflare creates it and we're retroactively deduplicating it. So I'm not sure how much of an option this actually is

> If you're already handling these at the ingest, then that sounds sane to me and like the right approach

We're handling this via Cloudflare Snippets right now yes, but that's not super ideal for us since Cloudflare only provides a limited number of these Snippets and this takes up a slot. We are doing this at the Cloudflare level because the issue presents itself through [`body-parser`](https://github.com/expressjs/body-parser/issues/568) which is the first thing that runs on our Express server

That's why I initially made several issues on various repositories, since I'm aware it's up to the application to decide what to do but I was not sure whose responsibility it actually was in this case since there's 6 different areas where this issue could potentially be handled (Cloudflare Snippets, Express/the Express server, `body-parser`, or any of the 3 dependencies used by `body-parser`)

The issues in the other repositories were closed in favor of handling this downstream, but if the interpretation is that this isn't spec compliant then I suppose those would be reopened? Or is the expectation that none of the packages handle this and it's left up to the developer? I'm genuinely asking, to be clear, since I really have no idea who would be responsible in this case and we're looking to settle on a solution for this on our side

> Provide a better error for this known failure case in the library

Imo regardless of what happens, even if none of the mentioned packages fix this themselves, a better error would probably be in order just to make it more clear as to *why* the header is being rejected. At the very least it would save people some time having to dig through the source of multiple libraries to figure that out (plus digging through multiple versions of the same libraries, as in some of these cases GitHub does not match npm)

Ok, we have a few long posts here, but to help bring it back to a decision for this library specifically, we need to choose between one of these to I think:

1. Better error when we refuse to parse this, then ensure that error is bubbled up to `body-parser` correctly
2. Add an option to parse these, where we de-duplicate and take the *first* value

My vote goes to 1 since it is invalid in the first place, but I think 2 is viable because it would solve a real problem here.

Both of those sound reasonable to me

Given that, at least the current target spec, it does seem to forbid this I do agree that it probably isn't best to fix it in this repo l but rather a clear error should be thrown to indicate why it's being rejected, and the deduplication should probably be handled either in type-is or body-parser

I've opened #60 to update the RFC references from 7231/7230 to 9110 as suggested by @wesleytodd. The ABNF definitions are identical so it's a pure documentation change — should be a quick review.

Regarding the duplicate Content-Type handling, I agree with @jonchurch's analysis that the spec treats `Content-Type` as a singleton field and duplicate values should be considered invalid. Option 1 (better error message) seems like the safest path — something like `"invalid media type: duplicate Content-Type values are not supported"` would save developers a lot of debugging time compared to the current generic `"invalid media type"`.

Does anyone have some examples of what these headers look like, or how they're being combined? If there are parameters, I assume it's becoming `application/json; charset=utf-8, application/json; charset=utf-8`? I.e. it's always just plain concatenation?

> Does anyone have some examples of what these headers look like, or how they're being combined? If there are parameters, I assume it's becoming `application/json; charset=utf-8, application/json; charset=utf-8`? I.e. it's always just plain concatenation?

Exactly, yes they would be combined into one

In our case, the client is a 3DS (which we can't modify the behavior of) which sends a duplicate `Content-Type: application/x-www-form-urlencoded` header in the relevant requests. We use Cloudflare which seems to have (or at least did, at the time) inconsistent handling for these duplicate headers. It seems that when just proxying through Cloudflare, they drop the duplicate header entirely and only forward one (based on our old logs), but when we started using a Worker in the mix it was concatenating them into a single `Content-Type: application/x-www-form-urlencoded, application/x-www-form-urlencoded` header, which broke those requests to our Express server (since Express uses https://github.com/expressjs/body-parser to handle the request bodies, which uses this library, and this library was saying the content type was invalid. That's also why I wasn't sure where to report this issue last year)

We've since worked around the issue though, and I'm not even sure if Cloudflare still has this behavior